<form method="post" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input name="name" type="text" id="name" value="{{name}}">
    <label for="description">Description</label>
    <textarea name="description" id="description">{{description}}</textarea>
    <label for="img">Image</label>
    <input name="img" type="text" id="image" value="{{img}}">
    <label for="group">Breed</label>
    <select name="breed" id="group">
        <option value="{{breed}}">{{breed}}</option>
    </select>
    <button>Edit Cat</button>
</form>